@font-face {
  font-family: ValueSerif;
  src: url(../public/valserif.ttf)
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumaat-title {
  font-family: ValueSerif;
  margin: 0%;
  margin-top: 12px;
  margin-left: 24px;
  color: #F2B625;
  font-size: 36px;
  text-decoration: none;
}

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:50px ;
  height: 60px;
}
input{
  /* width: 400px; */
  height: 30px;
  border-radius: 10px;
  font-family: ValueSerif;
}
button{
  height: 38px;
  margin-left: 20px;
  background: #004225;
  color: white;
  border: none;
  font-family: ValueSerif;
  width: 60px;
  /* height: 45px;  */
  border-radius: 10px;
}
.main{
  /* background-color: black ; */
  height: 100vh;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rand {
  color: white
}
.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.mosque-details {
  background: white;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

.mosque-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.mosque-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;

}
  
}